/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




















/* ==========================================================================
   Flushed Footer
   ========================================================================== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#wrap {
  min-height: 100%;
}





/* ==========================================================================
   Global
   ========================================================================== */

body {
    background: #57666f;
}


/* 2.3 - Lists */
ul.unstyled, ol.unstyled { margin: 0; list-style: none outside none; }


.carat-icon {
    width: 12px;
    height: 12px;
    background: url('/img/template/icon-carat.png') no-repeat;
    margin-bottom: -1px;
    display: inline-block;
}


h3 {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px !important;
    font-size: 21px !important;
    font-weight: normal !important;
    line-height: 40px !important;
    color: #333 !important;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

/* Used in order sidebar's .box */
h5 {
    color: #042333;
    font-size: 14px;
    font-weight: normal;
}


/* Bootstrap extensions */
.dropdown-menu:before {
    position: absolute;
    top: -8px;
    left: 79px;     /* original +70px */
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 80px;     /* original +70px */
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.pagination {
    text-align: center;
}

.section {
    padding: 25px 0;
    border-bottom: 1px solid #e6e6e6
}


.subsection {
    margin-top: 25px;
    padding: 15px 0;
    border-top: 1px solid #e6e6e6
}

label {
    font-size: 12px;
    font-weight: bold !important;
}

.hint {
    font-size: 12px;
    font-weight: normal;
    color: #888;
}

input.validation-error {
    border: 1px solid red;
}

table .type {
    font-weight: bold;
}

.info-table {
    font-size: 12px;
}

.info-table td {
    line-height: 16px;
}

.modal p {
    font-size: 13px;
}

/* For fading Alerts
/* - Requires accompanying JS
/* - http://stackoverflow.com/questions/7676356
*/

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}







/* ==========================================================================
   Header
   ========================================================================== */
.header-wrapper {
    width:100%;
    height: 40px;
    background: #000;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header {
    max-width: 1620px;
    margin: 0 auto;
}

.header .logo {
    height: 30px;
    margin-top: 5px;
    margin-left: 20px;
}

.user-bar {
    background: #000;
    margin-right: 25px;
    float: right;
}

.user-bar .dropdown .dropdown-menu {
    margin-left: -70px;
    margin-top: 10px;
}

.user-bar .dropdown .caret {
    border-top: 4px solid #fff;
    margin-top: 16px;
    margin-left: 5px;
}


.user-bar .dropdown > a {
    font-size: 14px;
    line-height: 36px;
    text-decoration: none;
    color: #999;
}

.user-bar .dropdown > a:hover {
    color: #fff;
}





/* ==========================================================================
   Content
   ========================================================================== */

.main-wrapper {
    max-width: 1620px;
    margin: 0 auto;

    overflow:hidden;
    padding-bottom: 0px; /* this needs to be bigger than footer height*/
}

.sidebar {
    position: fixed;
    top: 40px;
    bottom: 0px;
    width: 178px;
    padding: 0;
    z-index: 220;
    background: #f2f7fa;
    border-right: 1px solid #dde2eb;
    overflow: hidden;
}

.sidebar nav h2 {
    font-size: 12px;
    font-weight: 400;
    color: #aab6bd;
    text-transform: uppercase;
    padding: 8px 0 0 20px;
    line-height: 28px;
    margin: 0;
}

.sidebar nav ul {
    padding: 0 0 5px 0;
    margin: 0;
}

.sidebar nav li:hover {
    background: #dfeaf0;
}

.sidebar nav li a {
    display: block;
    font-family: "ProximaNovaRegular","ProximaNovaRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    padding: 8px 5px 7px 20px;
    color: #042333;
    font-weight: 400;
    width: 179px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar nav li a:hover {
    text-decoration: none;
}

.sidebar nav li.selected a {
    color: #fff;
    background-color: #479ccf !important;
}

.sidebar nav li i {
    margin-right: 5px;
}

.content-wrapper {
    min-width: 996px;
    max-width: 1442px;
    width: 100%;
    padding: 40px 0 20px 178px; /* padding-top is height of header */
    background: #fff;
    /*height: 100%;*/
    position: absolute;
    top: 0;
    bottom: 0;
}

.content-wrapper .heading-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 40px;
    z-index: 200;
    padding-left: 198px;
    margin-left: -178px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
    width: 100%;
    max-width: 1620px;
    min-width: 996px;
    display: block;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 0px 4px 1px rgba(0,0,0,0.04);

    background: #fff;
}

.content-wrapper .heading-row h1 {
    font-size: 24px;
    font-family: "ProximaNovaLight","ProximaNovaRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 32px;
    height: 32px;
    font-weight: 300;
    width: 100%;
    max-width: 718px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-wrapper .heading-toolbar {
    position: absolute;
    bottom: 12px;
    right: 20px;
}

.content-wrapper .heading-toolbar .btn {
    margin-left: 5px;
}

.content-wrapper .content {
    margin-top: 53px; /* Height of header-row */
    padding: 15px 20px;
    background: #fff;   /* sometimes its wrapper's bg doesnt extend all the way down */
}

.content-wrapper .content p {
    font-size: 12px;
    color: #666;
    line-height: 18px;
}









/* ==========================================================================
   Dashboard
   ========================================================================== */
.summary-box {
    border-right: 1px solid #DDE2EB;
    padding: 20px 15px;
    position: relative;
    top: -9px;
    border-radius: 3px;
    text-align: center;
}

.summary-box:last-child {
    border: 0;
}

.summary-box .type {
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
}

.summary-box .value {
    color: #000;
    font-weight: 300;
    font-size: 24px;
    padding: 9px 0;
}

.summary-box .value-large {
    font-size: 36px;
}

.summary-box .subvalue {
    color: #444;
    font-size: 14px;
}









/* ==========================================================================
   Inventory Table
   ========================================================================== */
.toolbar {
    margin-top: 10px;
    margin-bottom: 20px;
}

.search-box .dropdown-toggle {
    vertical-align: top;
}

.search-box .dropdown-menu {
    padding: 15px 20px;
    margin-top: 20px;
}

.search-box, .search-box .add-on {
    height: 22px !important;
}

.search-box .add-on {
    font-size: 13px;
    font-weight: bold;
}

.inventory-table {
    font-size: 13px;
    vertical-align: middle !important;
}

.inventory-table td, .inventory-table th {
    vertical-align: middle;
}

.inventory-table th.is-sortable {
    cursor: pointer;
}

.inventory-table th.is-sortable:hover {
    background:  #f5fbff;
}

.inventory-table tbody {
    color: #444;
}

.inventory-table .select {
    width: 20px;
}

.inventory-table .product-img {
    width: 50px;
    max-width: 40px;
    max-height: 50px;
}

.inventory-table .name {
    min-width: 200px;
}

.inventory-table tbody .name {
    font-size: 14px;
}

.inventory-table tbody .name a {
    text-decoration: underline;
}

.inventory-table .inventory {
    width: 200px;
}

.inventory-table .type {
    width: 100px;
}

.inventory-table .brand {
    width: 200px;
}










/* ==========================================================================
   Order Table
   ========================================================================== */
.order-table {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
}

.order-toolbar {
    background: #f9f9f9;
    border: 1px solid #ECECEC;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 54px;
}

.order-toolbar p {
    color: #aaa !important;
    margin-top: 6px;
    margin-left: 10px;
    float: left;
    display: block;
}

.order-contents td {
    border: 1px solid #ECECEC;
    padding: 10px;
}

.order-contents .checkbox {
    width: 16px;
}

.order-contents .checkbox.is-selected {
    background: #f9f9f9;
}

.order-contents .checkbox input {
    margin-left: 0;
}

.order-contents .description a {
    color: #3084ca;
    text-decoration: underline;
}

.order-contents .description .label {
    margin-left: 15px;
}

.order-contents .price-quantity {
    color: #333;
    float: right;
}

.order-contents .price-quantity .quantity {
    font-weight: bold;
}


.order-contents .item-multiplier {
    color: #999;
    padding: 0 5px;
}

.order-contents .subtotal {
    width: 90px;
    text-align: right;
}

.order-summary {
    font-size: 12px;
    background: #f9f9f9;
}

.order-summary td {
    padding: 5px;
}

.order-summary tr:last-child td {
    font-weight: bold;
    border-bottom: 3px solid #ECECEC;
}

.order-summary .type {
    font-weight: normal;
    text-align: right;
}

.order-summary .value {
    text-align: right;
}

.order-transaction {
    font-size: 12px;
    background: #fbfbfb;
}

.order-transaction td {
    padding: 5px;
    border-bottom: 3px solid #ECECEC;
}

.order-transaction .type {
    font-weight: normal;
    text-align: right;
}

.order-transaction .value {
    text-align: right;
}

#order-notes {
    padding: 10px;
    min-height: 62px;
}

.box {
    margin-bottom: 20px;
}

.box-header {
    background: #f2f7fa;
    border: solid 1px #dde2eb;
    padding: 0px 10px;
}

.box-contents {
    padding: 10px;
    border: solid 1px #dde2eb;
    font-size: 13px;
    color: #444;
}

.box-contents i {
    margin-right: 10px;
}

.box-contents ul li {
    padding: 10px 0;
    border-bottom: 1px solid #dde2eb;
}

.box-contents ul li:last-child {
    border-bottom: 0 !important;
}




/* ==========================================================================
   Footer
   ========================================================================== */
.footer-wrapper {
/*    width: 100%;
    min-height: 150px;
    margin-top: 30px;*/
    padding: 40px 0;
    background: #2e2e2e;

    position: relative;
    margin-top: -280px; /* negative value of footer height (including margins) */
    height: 200px;
    clear:both;
}

.footer {
    width: 996px;
    font-size: 12px;
    margin: 0 auto;
}

.footer-menu h4 {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

.footer-menu li {
    margin-bottom: 5px;
}

.footer-menu li a {
    color: #888;
}

.footer-menu li a:hover {
    color: #fff;
    text-decoration: none;
}











/* ==========================================================================
   SuperAdmin Approvals
   ========================================================================== */
.label-as-hot {
    margin-top: 5px;
    margin-right: 10px;
}










/* ==========================================================================
   Admin Login
   ========================================================================== */
.admin-login {
    background: #f2f7fa;
}

.login-box-wrapper {
    width: 340px;
    margin: 0 auto;
    text-align: center;
}

.login-box-wrapper .logo {
    margin-top: 100px;
}

.login-box {
    margin-top: 10px;
    padding: 30px 20px 10px;

    -webkit-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
    -moz-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
    -ms-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
    -o-box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
    box-shadow: 0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
    background: #f2f6f9;
    background: -webkit-linear-gradient(#fff, #f2f6f9);
    background: -moz-linear-gradient(#fff, #f2f6f9);
    background: -ms-linear-gradient(#fff, #f2f6f9);
    background: -o-linear-gradient(#fff, #f2f6f9);
    background: linear-gradient(#fff, #f2f6f9);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.login-box h4 {
    font-size: 20px;
}

.login-box input {
    width: 200px;
    font-size: 18px;
    padding: 10px 12px;
}