/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




















/* ==========================================================================
   Flushed Footer
   ========================================================================== */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}





/* ==========================================================================
   Global
   ========================================================================== */

/* 2.3 - Lists */
ul.unstyled, ol.unstyled { margin: 0; list-style: none outside none; }


.carat-icon {
    width: 12px;
    height: 12px;
    background: url('/img/template/icon-carat.png') no-repeat;
    margin-bottom: -1px;
    display: inline-block;
}


h3 {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px !important;
    font-size: 21px !important;
    font-weight: normal !important;
    line-height: 40px !important;
    color: #333 !important;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}






/* ==========================================================================
   Toolbar
   ========================================================================== */
.toolbar-wrapper, .toolbar {
    height: 36px;
}

.toolbar-wrapper {
    width: 100%;
    height: 36px;
    background: #2e2e2e;
}

.toolbar {
    width: 996px;
    margin: 0 auto;
}

.toolbar li { 
    float: right; 
    line-height: 34px; 
    list-style: none; 
    padding-left: 25px;
}

.toolbar li a {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #bbb;
}

.toolbar li a:hover {
    color: #fff;
    text-decoration: none;
}

.toolbar .icon-shopping-cart {
    margin-right: 10px;
}





/* ==========================================================================
   Header
   ========================================================================== */
.header-wrapper{
    width: 100%;
    height: 114px;
    background: #e1e1df;
}

.header {
    width: 996px;
    margin: 0 auto;
}

.header .logo {
    width: 148px;
    height: 150px;
    margin-top: -36px;
}

#nav {
    margin-top: 50px;
}

#nav li {
    float: left;
    font-size: 14px;
    margin-right: 30px;
}

#nav li a {
    color: #000;
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.header .search-bar {
}

.header .search_box {
    width: 180px;
    color: #333;
    background: #eee url('/img/template/icon-search.png') no-repeat;
    background-position: 210px 8px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 45px;
    border: 0;
    float: right;
}





/* ==========================================================================
   Content
   ========================================================================== */

.main-wrapper {
    width: 996px;
    margin: 0 auto;

    overflow:hidden;
    padding-bottom: 300px; /* this needs to be bigger than footer height*/
}

#filters-submit-btn {
    margin-top: -10px;
}

.main {
    margin-top: 15px;
}

.sidebar {
    width: 220px;
    min-height: 100px;
    margin-top: 20px;
    border-right: 1px solid #999;
    padding-bottom: 30px;
    float: left;
}

.sidebar .title {
    font-weight: bold;
    color: #555;
    border-bottom: 1px solid #ccc;
    padding: 1px 0 5px 25px;
}

.sidebar ul {
    width: 200px;
    margin-left: 20px !important;
}

.sidebar ul li {
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
    padding-left: 30px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background: #eee;
}

.sidebar ul li a {
    color: #333;
}

.content {
    margin-top: 15px;
}

.content .bootstrap-select {
    width: 150px !important;
}

.products {
    float: left;
}

.shop-featured-products {
    width: 950px;
}

.products-row {
    margin-bottom: 10px;
}

.products-row .product:last-child {
    margin-right: 0;
}

.product {
    width: 203px;
    margin: 8px;
    padding: 13px 9px;
    background: #f2f2f2;
    float: left;
}

.product img {
    width: 203x;
}

.product .details {
    color: #333;
    /*background: #000;*/
    padding: 10px 5px;
    text-align: center;
}

.product .details .brand { 
    font-size: 12px;
    margin-bottom: -4px;
}

.product .details .name { 
    font-size: 14px;
    font-weight: bold;
    line-height: 22px; 
    display: block;
    margin: 0; 
}

.product .price {
    color: #b89752;
    font-weight: bold;
}

.product .details .retail-price {
    color: #9a9a9a;
    font-size: 10px;
    font-weight: bold;
    text-decoration: line-through;
}





/* ==========================================================================
   Footer
   ========================================================================== */
.footer-wrapper {
/*    width: 100%;
    min-height: 150px;
    margin-top: 30px;*/
    padding: 40px 0;
    background: #2e2e2e;

    position: relative;
    margin-top: -280px; /* negative value of footer height (including margins) */
    height: 200px;
    clear:both;
}

.footer {
    width: 996px;
    font-size: 12px;
    margin: 0 auto;
}

.footer-menu h4 {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

.footer-menu li {
    margin-bottom: 5px;
}

.footer-menu li a {
    color: #888;
}

.footer-menu li a:hover {
    color: #fff;
    text-decoration: none;
}

.social-icon { 
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    display: block;
    background: url('/img/template/social-icons-dark-bg.png') no-repeat;

    filter: alpha(opacity=50); /* internet explorer */
    -khtml-opacity: 0.5;      /* khtml, old safari */
    -moz-opacity: 0.5;       /* mozilla, netscape */
    opacity: 0.5;           /* fx, safari, opera */
}

.social-icon:hover {    
    filter: alpha(opacity=100); /* internet explorer */
    -khtml-opacity: 1;      /* khtml, old safari */
    -moz-opacity: 1;       /* mozilla, netscape */
    opacity: 1;           /* fx, safari, opera */
}

.social-icon.twitter { background-position: 0 0; }
.social-icon.facebook { background-position: -50px 0; }
.social-icon.youtube { background-position: -100px 0; }
.social-icon.atom { background-position: -150px 0; }
.social-icon.instagram { background-position: -200px 0; }
.social-icon.pinterest { background-position: -250px 0; }
.social-icon.vimeo { background-position: -300px 0; }
.social-icon.tumblr { background-position: -350px 0; }
.social-icon.google { background-position: -400px 0; }

.footer .copyright {
    font-size: 11px;
    color: #888;
    text-align: center;
    margin-top: 30px;
}





/* ==========================================================================
   Product
   ========================================================================== */

.breadcrumb {
    background: none !important;
    font-size: 12px;
    margin-top: 10px !important;
}

.product-frame img {
    margin-bottom: 10px;
}

.product-description {
    font-size: 12px;
    text-align: center;
}

.product-price {
    font-size: 12px;
    color: #b89752;
    text-align: center;
}
}

.product-image {
    border: 1px solid #333;
    padding: 3px;
}

.product-details {
    margin-left: 60px !important;
    padding-left: 20px;
    color: #333;
}

.product-details .brand {
    font-size: 16px;
    color: #666;
    margin-bottom: -10px;
}

.product-details .title {
    font-size: 24px;
}

.product-details .price {
    font-size: 32px;
    font-weight: bold;
}

.product-details .retail-price {
    color: #666;
    text-decoration: line-through;
    margin-top: 5px;
}

.product-details ul {
    margin-top: 10px;
    font-size: 12px;
}

.product-details .type {
    color: #666;
    font-weight: bold;
}

.product-details .value {
    color: #999;
}

.product-details .details {
    color: #999;
    display: block;
}

.product-details2 h4 {
    margin-top: 20px;
}

.product-details2 .description {
    color: #666;
}

.btn-add-cart {
    margin-top: 20px;
}










/* ==========================================================================
   Cart
   ========================================================================== */
.cart-contents th {
}

.cart-contents img {
    width: 128px;
}

.cart-contents td.image {
    padding: 10px 0;
}

.cart-contents .name .product-name {
    font-weight: bold;
    font-size: 16px;
}

.cart-contents .name .brand-name {
    font-size: 12px;
}

.cart-contents .name .product-id {
    font-size: 12px;
    color: #ccc;
    display: block;
}

.cart-contents .subtotal {
    font-weight: bold;
}










/* ==========================================================================
   Checkout
   ========================================================================== */
.payment-form fieldset {
    margin-top: 10px;
}

form label.error, form .payment-errors {
    color: #c09853;

    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

form .payment-errors {
    display: none;
}










/* ==========================================================================
   Shops
   ========================================================================== */

.shops-city-sidebar {
    margin-right: 3 30px;
}

.shop-main-img {
    width: 1000px;
    height: 300px;
    margin-bottom: 30px;
}

