/* ==========================================================================
   Splash
   ========================================================================== */
.splash-toolbar {
    width: 300px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
    float: right;
}

.splash-toolbar ul {
    margin-right: 20px;
    float: right;
}

.splash-toolbar li {
    margin-left: 10px;
    float: left;
}

.splash-toolbar li a {
    color: #333;
}

.splash-hero {
    height: 722px;
    margin-top: 10px;
    background: url('/img/template/splash-bg.jpg');
}

.splash-logo {
    width: 160px;
    height: 149px;
    background: url('/img/template/splash-logo.png');
}

.splash-hero-sidebar {
    margin: 40px;
}

.title-01 {
    width: 160px;
    margin-top: 24px;
    padding: 8px 0;

    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    border-top: 2px solid #9e9d9c;
    border-bottom: 2px solid #9e9d9c;
}

.title-02 {
    width: 200px;
    margin-top: 20px;
    margin-left: -15px;

    font-size: 22px;
    color: #6699cc;
    /*color: #bfa266;*/
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.splash-shop-btn {
    width: 67px;
    height: 68px;
    margin: 20px 45px;
    background: url('/img/template/splash-shop-btn.png');
}

.splash-cat-links {
    width: 160px;
}

.splash-cat-links li {
    font-size: 14px;
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.splash-cat-links li a {
    color: #231f20;
}

.splash-cat-links li a:hover {
    color: #000;
}






.splash-hline {
    width: 100%;
    height: 16px;
    background: #1f2222;
}





.splash-subhero {
    margin-top: 15px;
}

.splash-hline-thin {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    background: #1f2222;
}

.splash-subhero p {
    margin-top: 10px;
    font-size: 11px;
    font-family: "museo-slab",serif;
    font-weight: 500;
    text-align: center;
}

.splash-newarrivals-board {
    height: 280px;
    padding: 23px 17px;
    background: url('/img/template/kurb-logo-pattern-grey.png');
}

.product-frame {
    width: 130px;
    height: 255px;
    margin: 8px;
    padding: 13px 9px;
    background: #f2f2f2;
    float: left;

    -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.5);
}

.product-frame img {
    margin-bottom: 10px;
}

.product-description {
    font-size: 12px;
    text-align: center;
}

.product-price {
    font-size: 12px;
    color: #b89752;
    text-align: center;
}